<template>
  <div class="footer">
    <div class="footer-box1">
      <svg
        class="footer-box__shape"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1366 161"
      >
        <path
          d="M-11.925-4809v-154.746c40.454,19.75,273.683,130.936,420.544,142.612,161.25,12.821,339.978-42.709,521.543-86.3,169.82-40.769,395.43,29.2,423.912,38.429v60Z"
          transform="translate(11.926 4970)"
        ></path>
      </svg>
    </div>
    <div class="footer-box2">
      <svg
        class="footer-box__shape"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1366 246"
      >
        <path
          d="M-1505.5-4725.5v-238.1c8.149-3.133,18.138-5.059,29.672-5.9h30.954c201.21,11.667,696.6,224.535,855.572,236.458,205.129,15.385,287.179-164.1,432.047-175.625a42.381,42.381,0,0,1,16.756,1.857V-4725.5Z"
          transform="translate(1506 4971)"
        ></path>
      </svg>

      <ul class="footer-social-list">
        <li
          class="footer-social-item"
          v-for="(item, index) in $site.themeConfig.social"
          :key="`${item.name}-${index}`"
        >
          <a :href="item.link" target="_blank" rel="external" :title="item.name">
              <img :src="item.svg">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-box3">
      <div class="footer-copy" v-html="$site.themeConfig.copy"></div>
    </div>
  </div>
</template>

<style lang="stylus">
@import './styles/config.styl'


.footer
  padding-left 20rem;
.center-navbar
  .footer
    padding-left 0rem;

@media (max-width: $MQNarrow)
  .footer
    padding-left $mobileSidebarWidth;

@media (max-width: $MQMobile)
  .footer
    padding-left 0rem;

.footer-social-list 
  display: inline-block;
  margin-top: 8%;
  margin-left: 30px;
  z-index: 2;
  position: relative;
  list-style none

  .footer-social-item
    float left
    a
      margin-right 10px
      border 2px solid #fff
      border-radius 45px
      padding 6px 6px 6px 6px
      height 32px
      width 32px 
      display block
    
   
.footer-box__shape 
  position: absolute;
  bottom: 0;
  left: 0;


.footer-box1 
  height 220px
  top 4px
  .footer-box__shape
    fill $firstFooterColor

.footer-box2
  height 250px
  background-color $firstFooterColor
  bottom -2px

  .footer-box__shape
    fill $secondFooterColor

.footer-box3
  position relative
  background-color $secondFooterColor
  padding 60px

.footer-box1, .footer-box2 
  position relative

.footer-copy 
  display block
  color #fff
  font-size 98%
  text-align right

</style>
